/* code for adding a video cover */
video {
  position: fixed;
  object-fit: cover;
  top:0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  z-index: -1;
}


/* Jumbotron */
.ameritron {
  border-radius: 20px;
  background: rgb(83,91,198);
  background: linear-gradient(45deg, rgba(83,91,198,1) 10%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 53%, rgba(253,45,45,1) 90%);
}

.ameritron h1 {
  font-size: 5em;
}

/* flip card animation */
.flip-card {
  font-size: 1.4em;
  width: 100%;
  height: 3em;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  
}

.flip-front  {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(253, 173, 13, 0.9);
  color: green;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px  crimson;
  padding: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Luckiest Guy', cursive;
}

.flip-back::-webkit-scrollbar {
  display: none;
}

.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(253, 173, 13, 0.9);
  color: green;
  transform: rotateX(180deg);
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px 1px crimson; */
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 10px;
  font-family: 'Luckiest Guy', cursive;
}


.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}