

#hero {
  width: 100%;
  height: 100vh;
  /* background: url ("../img/portfolio/Before_Edmund\ Pettus\ Bridge_splitA.jpg") top center; 
  background: url ("../img/portfolio/After_Edmnund\ Pettus\ Bridge_splitB.jpg") top center;  */
  /* background: url("./assets/EdmundPettusA.jpg") top center;
  background: url("./assets/EdmundPettusB.jpg") top center; */
  background-size: cover;
  position: relative;
}
#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#beforeAfter .before-after-component {
  position: relative;
  padding-top: 56.25%; }
  .before-after-component > div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .before-after-component > div img {
      height: 100%;
      max-width: none; }
  @media only screen and (min-width: 783px) {
    .before-after-component .before {
      overflow: hidden;
      width: 50%;
      border-right: 2px solid #FAFAFA; } }
  @media only screen and (max-width: 782px) {
    .before-after-component .before {
      -webkit-animation-name: fadeInOut;
           -o-animation-name: fadeInOut;
              animation-name: fadeInOut;
      -webkit-animation-timing-function: ease-in-out;
           -o-animation-timing-function: ease-in-out;
              animation-timing-function: ease-in-out;
      -webkit-animation-iteration-count: infinite;
           -o-animation-iteration-count: infinite;
              animation-iteration-count: infinite;
      -webkit-animation-duration: 4s;
           -o-animation-duration: 4s;
              animation-duration: 4s;
      -webkit-animation-direction: alternate;
           -o-animation-direction: alternate;
              animation-direction: alternate; } 
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: whitesmoke;
  text-shadow: -1px 0 2px #2F4D5A;
}
#hero h2 {
  color: white;
  margin-bottom: 50px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: -1px 0 2px #2F4D5A;
}
#hero .btn-get-started {
  font-size: 36px;
  display: inline-block;
  padding: 4px 0;
  border-radius: 50px;
  transition: 0.3s ease-in-out;
  margin: 10px;
  width: 64px;
  height: 64px;
  text-align: center;
  border: 2px solid #fff;
  color: #fff;
}
#hero .btn-get-started:hover {
  padding-top: 8px;
  background: rgba(255, 255, 255, 0.15);
}
@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}


/* Navigation Bar */
/* Desktop Navigation */
.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
  background: rgba(255, 255, 255, 0.2);
}

.nav-menu a {
  display: block;
  position: relative;
  color: black;
  padding: 20px 15px;
  transition: 0.3s;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
}

.header-scrolled .nav-menu > ul > li {
  background: none;
}

.header-scrolled .nav-menu a {
  color: #fff;
}

.header-scrolled .nav-menu a:hover, .header-scrolled .nav-menu .active > a, .header-scrolled .nav-menu li:hover > a {
  background: rgba(255, 255, 255, 0.2);
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #25607a;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #67b0d1;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2f4d5a;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #67b0d1;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 48, 56, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}


/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #fff;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #2f4d5a;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #67b0d1;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(30, 48, 56, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}






/* Jumbotron */
.ameritron {
  border-radius: 20px;
  background: rgb(83,91,198);
  background: linear-gradient(45deg, rgba(83,91,198,1) 10%, rgba(255,255,255,1) 47%, rgba(255,255,255,1) 53%, rgba(253,45,45,1) 90%);
}

.ameritron h1 {
  font-size: 5em;
}

/* flip card animation */
.flip-card {
  font-size: 1.4em;
  width: 100%;
  height: 10em;
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  
}

.flip-front  {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(253, 173, 13, 0.9);
  color: green;
  border-radius: 5px;
  box-shadow: 3px 3px 2px 1px  crimson;
  padding: 10px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  font-family: 'Luckiest Guy', cursive;
}

.flip-back::-webkit-scrollbar {
  display: none;
}

.flip-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background-color: rgba(253, 173, 13, 0.9);
  color: green;
  transform: rotateX(180deg);
  border-radius: 5px;
  /* box-shadow: 3px 3px 2px 1px crimson; */
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  padding: 10px;
  font-family: 'Luckiest Guy', cursive;
}


.flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
}

