/*
	Coin Slider jQuery plugin CSS styles
	http://workshop.rs/projects/coin-slider
*/

.coin-slider { 
	overflow: hidden; 
	zoom: 1; 
	position: relative; 
}
.coin-slider a{ 
	text-decoration: none; 
	outline: none; 
	border: none; 
}
.cs-buttons { 
	padding: 0px; 
	float: left;
	margin-top:-30px;
}
.cs-buttons a { 
	margin-left: 10px; 
	height: 22px; 
	width: 22px; 
	float: left;
	text-indent: -1000px;
	background-image:url(../images/bullet_down.png);
	background-repeat:no-repeat; 
}
.cs-active { 
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.3);
	-webkit-border-radius:14px 14px 14px 14px;
	-moz-border-radius:14px 14px 14px 14px;
	border-radius:14px 14px 14px 14px; 
}
.cs-title {
	text-align:center;
	font-size:22px;
	font-style:italic;
	margin-left:40px;
	width: 475px;
	height: 30px; 
	padding: 20px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.6);
	top: 280px; 
	-webkit-border-radius:14px 14px 14px 14px;
	-moz-border-radius:14px 14px 14px 14px;
	border-radius:14px 14px 14px 14px;
	box-shadow: 0px 2px 2px #000;
}
.cs-next, .cs-prev {
	font-size: 12px; 
	margin-left:10px;
	margin-right:10px;
	background-color: #111; 
	color: #ccc;
	opacity:0.0;
	filter:alpha(opacity=0);
	padding: 3px 15px 3px 15px;
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 1px 2px #000;
	-webkit-box-shadow: 0 1px 2px #000;
	-webkit-border-radius:20px 20px 20px 20px;
	-moz-border-radius:14px 14px 14px 14px;
	border-radius:14px 14px 14px 14px; 
}