@charset "utf-8";

/*-----------Mini Nav-----------*/
.mininav a:hover {
	color:#ffffff;
	background-color:#392d6c;
}
/*-----------Button Styles-----------*/
.highlight.button{
	color: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#392d6c', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#392d6c), to(#000000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #392d6c,  #000000); /* for firefox 3.6+ */
	border-top: 1px #54478f solid;
	border-bottom: 1px #110e1f solid;
	border-right: 1px #2b2446 solid;
	border-left: 1px #2b2446 solid;
	text-shadow:0 0 0 transparent, 1px 1px 0px #111111;
}
.highlight.button:hover {
	color: #ffffff;
	border-top: 1px #382f5d solid;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#392d6c'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#392d6c)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #000000,  #392d6c); /* for firefox 3.6+ */ 	
}
/*-----------Headings-----------*/
h1  {
	color:#392d6c;	
}
h2  {
	color:#392d6c;	
}
h3  {
	color:#392d6c;	
}
/*-----------Sidebar Styling-----------*/
.sidebar h2  {
	color:#392d6c;
}
/*-----------Subpage Text Styling-----------*/
.subpagetext ul li:last-child {
	color:#392d6c;
}
/*-----------Drop Menu-----------*/
#dropmenu {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#392d6c', endColorstr='#000000'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#392d6c), to(#000000)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #392d6c,  #000000); /* for firefox 3.6+ */ 	
	border-top: 1px #54478f solid;
	border-bottom: 1px #110e1f solid;
	border-right: 1px #2b2446 solid;
	border-left: 1px #2b2446 solid;
}
ul#dropmenu a{
	color:#ffffff;
}
ul#dropmenu a:hover {
	color:#ffffff;
}
ul#dropmenu a span{
	padding-left:25px;
	margin-left:5px;
	background-image:url(../images/droparrow.png);
	background-repeat:no-repeat;
}
/*-----------Twitter-----------*/
ul#twitter_update_list li a {
	color:#715bcd;
}
/*-----------Crumb Navigation-----------*/
.crumb_navigation ul a:hover{
	color:#ffffff;
	background-color:#392d6c;
}
/*-----------Nivo Slider Caption-----------*/
.nivo-caption p {
	color:#392d6c;
}
/*-----------Galleria Slider Captions-----------*/
.galleria-info-title {
    color: #392d6c;
}
.galleria-info-description {
    color: #ffffff;
}
/*-----------Coin Slider Captions-----------*/
.slideshow{
	color:#392d6c;
}
/*-----------Blog-----------*/
.blogpost h5 a {
	color:#392d6c;
}
/*-----------Top Button-----------*/
.topbutton {
	text-shadow:#000 0px 1px 0px;
	color:#ffffff;
	background-color:#392d6c;
}