.hero-bar {
  display: block;
  width: 1920px;
  /* background-color: rgb(155, 88, 12); */
  background: rgb(0,122,255);
  background: linear-gradient(90deg, rgba(0,122,255,1) 0%, rgba(151,40,16,1) 100%); 
  padding: 30px;
  margin-top: 80px;
  border-bottom: solid rgb(151, 16, 16);
  /* width: 100%; */
  border-width: 10px;
  border-bottom-style: groove;
  /* margin-right: -13px; */
}

@media screen and (max-height: 930px) {
  .hero-bar {
    margin-top: 150px;
  }
}

@media screen and (max-height: 860px) {
  .hero-bar {
    margin-top: 220px;
  }
}

@media screen and (max-height: 790px) {
  .hero-bar {
    margin-top: 290px;
  }
}

@media screen and (max-height: 720px) {
  .hero-bar {
    margin-top: 360px;
  }
}

@media screen and (max-height: 650px) {
  .hero-bar {
    margin-top: 430px;
  }
}

@media screen and (max-height: 580px) {
  .hero-bar {
    margin-top: 510px;
  }
}

@media screen and (max-height: 510px) {
  .hero-bar {
    margin-top: 580px;
  }
}

@media screen and (max-height: 430px) {
  .hero-bar {
    margin-top: 650px;
  }
}

@media screen and (max-height: 360px) {
  .hero-bar {
    margin-top: 720px;
  }
}

@media screen and (max-height: 290px) {
  .hero-bar {
    margin-top: 790px;
  }
}