* {
    font-family: 'Raleway', sans-serif;
    /* text-shadow: azure 0px .25px .25px; */
}

#no-margin-top {
    margin-top: 0px;
}
#hamiltonVideo {
    left: -365px;
    padding-top: 120px;

}
#chrisRockVideo {
    right: 15px;
    padding-top: 120px;
}

.countdown {
    text-transform: uppercase;
    font-weight: bold;
}

.countdown span {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 3rem;
    margin-left: 0.8rem;
    padding: 3px
}

.countdown span:first-of-type {
    margin-left: 0;
}

.countdown-circles {
    text-transform: uppercase;
    font-weight: bold;
    justify-content: space-evenly;
}

.countdown-circles span {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
}
.countdown-circles span:first-of-type {
    margin-left: 0;
}

.timeUnit {
    font-size: 1rem!important;
    position: absolute;
    text-align: center;
}

#dayUnit {
    bottom: 115px;
    left: 146px;
}
#hourUnit {
    bottom: 115px;
    left: 281px;
}
#minuteUnit {
    bottom: 115px;
    left: 416px;
}
#secondUnit {
    bottom: 115px;
    left: 558px;
}


/*
*
* ==================================================
* FOR DEMO PURPOSES
* ==================================================
*
*/
body {
    min-height: 100vh;
}

.bg-gradient-1 {
    background: #7f7fd5;
    background: -webkit-linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.bg-gradient-2 {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
}

.bg-gradient-3 {
    background: #ff416c;
    background: -webkit-linear-gradient(to right, #ff416c, #ff4b2b);
    background: linear-gradient(to right, #ff416c, #ff4b2b);
}

.bg-gradient-4 {
    background: #007991;
    background: -webkit-linear-gradient(to right, #007991, #78ffd6);
    background: linear-gradient(to right, #007991, #78ffd6);
}

.rounded {
    border-radius: 1rem !important;
    margin-top: 70px;
}

.btn-demo {
    padding: 0.5rem 2rem !important;
    border-radius: 30rem !important;
    background: rgba(255, 255, 255, 0.3);
    color: #fff;
    text-transform: uppercase;
    font-weight: bold !important;
}

.btn-demo:hover, .btn-demo:focus {
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
}