#flag {
    width: 42%;
    height: 380px;
    float: left;
}


.pollingCenters {
    background: rgb(180,58,101);
    background: linear-gradient(90deg, rgba(180,58,101,1) 0%, rgba(253,29,29,1) 50%, rgba(253,88,45,1) 62%);
    font-family: 'Raleway', sans-serif;
    width: 54%;
    height: 380px;
    float: left;
    margin-left: -8px;
}

.divPollingCenters {
    color: white;
    text-align: center;
    
}


